# -Editor
# --Language
# ---Framework
# ----Rules
#

# Custom 
eksicode.env

#### PyCharm
.idea

### Python
*.pyc
*.pyd
*__pycache__*
*/venv/

## Django
*.sqlite3
/website/staticfiles
/website/media
/website/website/local_settings.py

### venv
/eksicodevenv/
/eksicodevenv2/
/eksicodevenv2/
